@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
* {
  font-family: "El Messiri", sans-serif !important;
}
.app-header {
  text-align: center;
  padding: 20px;
}

.header {
  font-fami5y: "Azeret Mono", monospace;
  font-size: 30px;
}

.app-body {
  padding: 20px;
  text-align: center;
}

.language-select {
  height: 40px !important;
  margin-bottom: 15px;
  outline: none !important;
}
.navbar-toggler > span {
  color: #8a1538;
}
.main-container {
  background: #f1f1f1;
}
.small-box {
  background-color: #8a1538;
  height: 95vh;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom-left-radius: 50px;
}
.main-box {
  height: 100vh;
  display: flex;
  align-items: center;
  /* padding: 50px; */
}
@media (min-width: 992px) {
  .main-box {
    padding: 50px;
  }
}
.Title {
  font-size: 8rem;
  line-height: 0.7;
  padding: 15px;
  overflow: false;
  background: -webkit-linear-gradient(#8a1538, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mascot-image {
  position: absolute;
  left: -50px;
  height: 95%;
}
.detailtext {
  /* font-weight: lighter; */
  color: grey !important;
  margin: 10px;
}
.translate-button {
  display: block;
  background-color: #ed1c51 !important;
  color: white !important;
  border-radius: 45px !important;
}
.nav-link-inner--text {
  color: black !important;
}
.logo {
  height: 50px !important;
}
.form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.field:nth-of-type(2) > textarea {
  cursor: default;
}
.field:nth-of-type(2) {
  width: 48%;
}
.field > textarea {
  font-size: 18px !important;
  border: solid 2px #8a1538 !important;
  border-radius: 25px !important;
  padding: 15px !important;
}
.sec2-main {
  background-color: #f1f1f1;
}
.sec2 {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.sec2-title:nth-of-type(2) {
  text-align: center;
  font-size: xxx-large;
  color: #8a1538;
}
.sec2-title:nth-of-type(1) {
  text-align: center;
  font-size: xxx-large;
  color: white;
  background-color: #8a1538;
}
.translate-box {
  position: relative;
  width: 48%;
}

.translate-button2 {
  font-size: x-large !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 15px !important;
  background-color: #ed1c51 !important;
  color: white !important;
  border-radius: 50% !important;
  position: absolute !important;
  top: -10px !important;
  right: -20px !important;
  width: 50px !important;
  height: 50px !important;
}
